.animate {
    @apply opacity-0;
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInBlur {
    from {
        opacity: 0;
        filter: blur(var(--blur-start));
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

.animation-delay-250 {
    animation-delay: 300ms;
}

.animation-delay-500 {
    animation-delay: 500ms;
}
