:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

html {
    @apply font-switzer;
}

body {
    @apply bg-surface-base text-text-body;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-text-main
}

