@import 'tailwindcss';
@import './base.css';
@import './switzer.css';
@import './layout.css';
@import './animation.css';
@import './typography.css';

@theme {
    /* Collection: Color Pallete */

    --font-switzer: 'Switzer-Variable', sans-serif;

    /* color */
    --color-floral-100: rgb(254, 250, 241);
    --color-lavender-500: rgb(168, 73, 246);
    --color-onyx-900: rgb(21, 20, 20);
    --color-onyx-950: rgb(10, 10, 10);
    --color-onyx-800: rgb(38, 37, 37);
    --color-onyx-700: rgb(51, 50, 50);
    --color-onyx-600: rgb(77, 77, 77);
    --color-onyx-500: rgb(102, 102, 102);
    --color-onyx-400: rgb(128, 128, 128);
    --color-onyx-300: rgb(179, 179, 179);
    --color-onyx-200: rgb(204, 204, 204);
    --color-onyx-100: rgb(230, 230, 230);
    --color-onyx-50: rgb(242, 242, 242);
    /* Collection: Color Semantics */

    /* color */
    --color-surface-base: var(--color-floral-100);
    --color-surface-inverted: var(--color-onyx-800);
    --color-text-accent: var(--color-lavender-500);
    --color-text-main: var(--color-onyx-950);
    --color-text-body: var(--color-onyx-950);
    --color-tag-tech-primary: rgb(255, 234, 0);
    --color-tag-design-primary: rgb(0, 255, 225);
    --color-border: var(--color-onyx-800);
    --color-link-primary: var(--color-onyx-600);
    --color-link-primary-hover: var(--color-onyx-950);

    /* radius */
    --radius-sm: 2px;

    /* spacing */
    --spacing-12: 12px;
    --spacing-section-lg: 1920px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-section-md: 1348px;
    --spacing-24: 24px;
    --spacing-section-sm: 1240px;
    --spacing-28: 28px;
    --spacing-32: 32px;
    --spacing-36: 36px;
    --spacing-40: 40px;
    --spacing-44: 44px;
    --spacing-48: 48px;
    --spacing-52: 52px;
    --spacing-64: 64px;
    --spacing-80: 80px;
    --spacing-100: 100px;
    --spacing-152: 152px;
    --spacing-164: 164px;
    --spacing-inlay-padding-desktop: 32px;
    --spacing-inlay-padding-mobile: 16px;

    /* filter */
    --animation-blur-sm: 10px;
    --animation-blur-lg: 130px;

    /* animations */
    --hero-animation-duration: 1000ms;
    --fade-in-duration: 1300ms;

    --dur-hero: 1000ms;
    --dur-fade: 1300ms;

    /* default blur value (can be overridden per element) */
    --blur-start: var(--animation-blur-sm);

    --animate-fade-in: fadeIn var(--dur-fade) ease forwards;
    --animate-fade-in-blur: fadeInBlur var(--dur-hero) ease forwards;
    --animate-slide-in-from-right: slideInFromRight var(--dur-hero) ease
        forwards;

    @keyframes slideInFromRight {
        from {
            opacity: 0;
            transform: translateX(20%);
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeInBlurSm {
        from {
            filter: blur(var(--animation-blur-sm));
        }
        to {
            filter: blur(0);
            opacity: 1;
        }
    }

    @keyframes fadeInBlurLg {
        from {
            filter: blur(var(--animation-blur-lg));
        }
        to {
            filter: blur(0);
            opacity: 1;
        }
    }
}
