[build]
  base = "frontend"
  command = "cd .. && npm ci && cd frontend && npm run build"
  publish = ".output/public"

[functions]
  node_bundler = "esbuild"

[dev]
  command = "npm run dev"
  port = 3000
  targetPort = 3000