[build]
  command = "npm ci && npm run build --prefix frontend"
  publish = "frontend/.output/public"

[functions]
  node_bundler = "esbuild"

[dev]
  command = "npm run dev"
  port = 3000
  targetPort = 3000